[workflows]
runButton = "Serve static"

[[workflows.workflow]]
name = "Serve static"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
waitForPort = 80

[nix]
channel = "stable-24_05"

[nix.packages]
python3 = "latest"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python server.py"]
