[workflows]
runButton = "Serve static"

[[workflows.workflow]]
name = "Serve static"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Starting The Vault app on port 5000...\""
waitForPort = 80

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
